@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='email'],
input[type='password'],
input[type='text'],
input[type='number'],
textarea {
  @apply w-full py-2 px-3 border my-1 rounded-2xl;
}
textarea {
  height: 150px;
}

button.primary {
  background-color: #265ef8;
  @apply bg-sky-600 w-full text-white rounded-xl p-2;
}
